<html>
	<head>
		<title>New Mongoose</title>
	</head>
	<body>
		<div>
		<h1>Mongoose Info</h1>
			Mongoose Name: <%= mongoose.name %>
			Mongoose Age: <%= mongoose.age %>
			Mongoose Nickname: <%= mongoose.nickname %>
			Mongoose Zipcode: <%= mongoose.zipcode %>
			<a href="/mongooses/<%= mongoose._id %>/edit"></a>
		</div>
	</body>
</html>