<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=info.name%></title>
        <style>
            *{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h2><%=info.name%></h2>
        <p>Type: <%=info.type%></p>
        <p>Size: <%=info.size%></p>
        <p>Mood: <%=info.mood%></p>
    </body>

    <br /><br />
    <a href="/">Back.</a>
</html>
